.background-video {
  position: absolute;
  z-index: 101;
  width: 100%; /* Utilise 100% de la largeur de la vue avec une marge de 20px */
  height: 100vh;

  top: 0px;
  left: 0px;
  overflow: hidden;
  opacity: 1;
  // user-select: none;
  max-width: initial;
  .playerBox {
    position: absolute;
    z-index: 0;
    width: 100vw; /* Utilise 100% de la largeur de la vue avec une marge de 20px */
    height: calc(
      (9 / 16) * (100vw - 20px)
    ); /* Calcul de la hauteur pour maintenir le ratio 16:9 */

    top: 0px;
    left: 0px;
    overflow: hidden;
    opacity: 1;
    user-select: none;
    margin-top: -59px;
    margin-left: 0px;
    max-width: initial;
    transition-property: opacity;
    transition-duration: 1000ms;
  }
  // iframe{
  //     width: 100%;
  //     height: 100vh;
  // }
}
.back {
  position: absolute;
  z-index: 102;
  width: 50px;
  height: 50px;
  left: 25px;
  background-color: transparent;
  border: none;
  color: white;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity, 0.4s ease;
  &:hover {
    opacity: 1;
    transform: scale(1.05);
  }
  svg {
    height: 100%;
    width: 100%;
  }
}

