<header
  [ngClass]="{ scrolled: isScrolled }"
  *ngIf="!isMobileScreen"
  class="desktop-device"
>
  <div class="left-header">
    <figure routerLink="/">
      <img src="../../assets/logo.png" alt="Vald FC" />
    </figure>
    <ul>
      <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</li>
      <li routerLink="/clip" routerLinkActive="active">Clip</li>
      <li routerLink="/interview" routerLinkActive="active">Interview</li>
      <li routerLink="/my-list" routerLinkActive="active">Ma liste</li>
    </ul>
  </div>
  <div class="right-header">
    <div class="search" [ngClass]="showSearch ? 'input-search ' : 'not-input'">
      <button class="loupe" (click)="toggleSearch($event)">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="search-icon ltr-4z3qvp e1svuwfo1"
          data-name="MagnifyingGlass"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10ZM15.6177 17.0319C14.078 18.2635 12.125 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10C19 12.125 18.2635 14.078 17.0319 15.6177L22.7071 21.2929L21.2929 22.7071L15.6177 17.0319Z"
            fill="currentColor"
          ></path>
        </svg>
      </button>
      <input
        tabindex="1"
        type="text"
        class="search-input"
        placeholder="Clip, artiste, featuring..."
        *ngIf="showSearch"
        [(ngModel)]="searchQuery"
        (input)="onSearchChange()"
        #searchInput
        [ngClass]="showSearch ? 'input-animation' : ''"
        autofocus
      />
      <button class="close" (click)="closeSearch()" *ngIf="searchQuery > '0'">
        <svg
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          data-name="X"
          role="button"
          aria-label="close"
        >
          <title>close</title>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M10.5858 12L2.29291 3.70706L3.70712 2.29285L12 10.5857L20.2929 2.29285L21.7071 3.70706L13.4142 12L21.7071 20.2928L20.2929 21.7071L12 13.4142L3.70712 21.7071L2.29291 20.2928L10.5858 12Z"
            fill="currentColor"
          ></path>
        </svg>
      </button>
    </div>

    <div *ngIf="!isLoggedIn()">
      <button (click)="login()">Connexion</button>
    </div>
    <div *ngIf="isLoggedIn()" class="userAccount">
      <figure>
        <img
          src="{{ userInfo?.info?.picture }}"
          tabindex="1"
          alt="{{ userInfo?.info?.given_name }}"
        />
      </figure>
      <p>{{ userInfo?.info?.given_name }}</p>
      <div class="logout">
        <button tabindex="1" (click)="logout()">Déconnexion</button>
      </div>
    </div>
  </div>
</header>

<header
  class="mobileHeader"
  (scroll)="onScroll()"
  [ngClass]="{
    mobileScrolled: isScrolled
  }"
  *ngIf="isMobileScreen"
>
  <div class="top-header">
    <div *ngIf="!isLoggedIn()">
      <button (click)="login()">Connexion</button>
    </div>
    <div *ngIf="isLoggedIn()" class="userAccount">
      <figure (click)="toggleLogout($event)">
        <img
          src="{{ userInfo?.info?.picture }}"
          tabindex="1"
          alt="{{ userInfo?.info?.given_name }}"
        />
      </figure>
      <div class="logout"  #logoutViewChild [ngClass]="showLogout ? 'logout-active ' : 'not-logout'">
        <button tabindex="1" (click)="logout()">Déconnexion</button>
      </div>
    </div>
    <div class="search" [ngClass]="showSearch ? 'input-search ' : 'not-input'">
      <button class="loupe" (click)="toggleSearch($event)">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="search-icon ltr-4z3qvp e1svuwfo1"
          data-name="MagnifyingGlass"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10ZM15.6177 17.0319C14.078 18.2635 12.125 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10C19 12.125 18.2635 14.078 17.0319 15.6177L22.7071 21.2929L21.2929 22.7071L15.6177 17.0319Z"
            fill="currentColor"
          ></path>
        </svg>
      </button>
      <input
        tabindex="1"
        type="text"
        class="search-input"
        placeholder="Clip, artiste, featuring..."
        *ngIf="showSearch"
        [(ngModel)]="searchQuery"
        (input)="onSearchChange()"
        #searchInput
        [ngClass]="showSearch ? 'input-animation' : ''"
        autofocus
      />
      <button class="close" (click)="closeSearch()" *ngIf="searchQuery > '0'">
        <svg
          width="16"
          height="16"
          viewBox="0 0 24 24"
          fill="none"
          data-name="X"
          role="button"
          aria-label="close"
        >
          <title>close</title>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M10.5858 12L2.29291 3.70706L3.70712 2.29285L12 10.5857L20.2929 2.29285L21.7071 3.70706L13.4142 12L21.7071 20.2928L20.2929 21.7071L12 13.4142L3.70712 21.7071L2.29291 20.2928L10.5858 12Z"
            fill="currentColor"
          ></path>
        </svg>
      </button>
    </div>
  </div>
  <div
    class="bottom-header"
    [ngClass]="{
    'showMobileMenu': navbarDisplay,
    'notShowMobileMenu': !navbarDisplay,
}"
  >
    <ul>
      <li routerLink="/" routerLinkActive="active">Accueil</li>
      <li routerLink="/clip" routerLinkActive="active">Clip</li>
      <li routerLink="/interview" routerLinkActive="active">Interview</li>
      <li routerLink="/my-list" routerLinkActive="active">Ma liste</li>
    </ul>
  </div>
</header>
