<div class="container-footer">
    <figure>
        <img src="../../assets/logo.png" alt="Vald FC">
    </figure>
  <div class="footer-item">
    <h3>Tier list</h3>
    <ul>
      <li routerLink="/tier-list" routerLinkActive="active">Album Ultime</li>
    </ul>
  </div>
  <div class="footer-item">
    <h3>Information</h3>
    <ul>
      <li routerLink="/">Me contacter</li>
      <li>Plan du site</li>
    </ul>
  </div>
  <div class="footer-item">
    <h3>Législation</h3>
    <ul>
      <li routerLink="/interview">Mentions légales</li>
      <li>CGU / CGC</li>
    </ul>
  </div>
</div>
