.container-form {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;

  .wrapper {
    transition: 0.2s ease;
    width: 600px;
    .title {
      padding: 8px 1rem;
      border-radius: inherit;
      h1 {
        font-size: clamp(20px, 4rem, 36px);
        text-align: center;
      }
      p {
        padding: 1rem 0;
      }
    }
    form {
      margin-top: 1rem;
      .wrapper-name {
        display: flex;
        .item {
          width: 50%;
        }
      }
      .item {
        display: flex;
        flex-direction: column;
        padding: 0 1rem 1rem 1rem;
        label {
          padding-bottom: 6px;
          transition: color 0.5s ease;
        }
        .error-form {
          color: #c90202;
          & ~ input,
          ~ textarea {
            border: 2px solid #c90202;
            outline-color: #c90202;
          }
        }
        input,
        textarea {
          transition: border 0.5s ease;

          padding: 10px;
          width: 100%;
          border-radius: 5px;
          background-color: #f1f1f1;
        }
        textarea {
          resize: vertical;
          height: 140px;
        }
        button {
          padding: 10px;
          background-color: #616161;
          transition: all 0.5s ease;
          color: #dadada;
          border-radius: 5px;
          opacity: 0.7;
          &.active {
            background-color: #f1f1f1;
            cursor: pointer;
            color: black;
            opacity: 1;
          }
        }
      }
    }
    .succes-msg {
      padding: 0 1rem 0 1rem;
      text-align: center;
      visibility: hidden;
      &.active{
        visibility: visible;

      }
    }
  }
  .social-media-section {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .container-social-media{
      display: flex;
      gap: 8px;
      margin-top: 1rem;
    img {
      width: 35px;
      height: 35px;
      cursor: pointer;
    }}
  }
}
.grecaptcha-badge {
  visibility: visible !important;
}

@media screen and (max-width: 768px) {
  .container-form {
    min-height: calc(100vh - 102px);
    margin-top: 102px;
    display: flex;
    justify-content: center;
    .wrapper {
      width: 80%;
    }
  }
}
@media screen and (max-width: 550px) {
  .wrapper {
    width: 100% !important;
  }
}

.rotate-animation {
  animation: rotate360 0.75s;
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
