<div class="container-form">
  <div class="wrapper">
    <div class="title">
      <h1>Me contacter</h1>
      <p>
        Tu souhaites ajouter des vidéos inédites de VALD, compléter les
        informations d'un artiste ou d'une vidéo ou as tu des suggestions
        d'amélioration pour le site web alors contact moi !
      </p>
    </div>
    <form (ngSubmit)="submit()" [formGroup]="formContact">
      <div class="wrapper-name">
        <div class="item">
          <label
            for="firstName"
            [ngClass]="{
              'error-form': FirstName!.errors && FirstName!.touched && !envoie
            }"
            >Prénom</label
          >
          <input
            type="text"
            formControlName="firstName"
            id="firstName"
            placeholder="Jean"
          />
        </div>
        <div class="item">
          <label
            for="name"
            [ngClass]="{
              'error-form': Name!.errors && Name!.touched && !envoie
            }"
            >Nom</label
          >
          <input
            type="text"
            formControlName="name"
            id="name"
            placeholder="Dubois"
          />
        </div>
      </div>
      <div class="item">
        <label
          for="email"
          [ngClass]="{
            'error-form': Email!.errors && Email!.touched && !envoie
          }"
          >Email</label
        >
        <input
          type="email"
          formControlName="email"
          id="email"
          placeholder="Saisir un email"
        />
      </div>
      <div class="item">
        <label
          for="messsage"
          [ngClass]="{
            'error-form': Message!.errors && Message!.touched && !envoie
          }"
          >Message</label
        >
        <textarea
          id="messsage"
          formControlName="message"
          placeholder="Écris ton message ici..."
        ></textarea>
      </div>
      <div class="item">
        <button
          type="submit"
          [ngClass]="{
            active: formContact!.valid && Message!.touched && !envoie
          }"
        >
          Envoyer
        </button>
      </div>
    </form>
    <p class="succes-msg" [ngClass]="{active : envoie}">Message envoyé !</p>
  </div>

  <div class="social-media-section">
    <h2>Sinon contact moi directement ici !</h2>
    <div class="container-social-media">
      <div (click)="navigateToExternalLink('https://x.com/Skitch49')">
        <img
          src="../../../../assets/icons/icon_twitter.webp"
          id="twitter"
          (mouseenter)="RotationAnimation($event)"
        />
      </div>
      <div
        (click)="
          navigateToExternalLink('https://www.instagram.com/alexis_delaunay_49')
        "
      >
        <img
          src="../../../../assets/icons/icon_instagram.png"
          id="github"
          (mouseenter)="RotationAnimation($event)"
        />
      </div>
    </div>
  </div>
</div>
