<div class="wrapper-dialog">
  <figure>
    <img src="https://i.ytimg.com/vi/{{ clip.url }}/maxresdefault.jpg" alt="" />
    <div class="background">
      <button class="close-dialog" mat-dialog-close>
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="ltr-4z3qvp e1svuwfo1"
          data-name="X"
          aria-labelledby="preview-modal-70281312"
          data-uia="previewModal-closebtn"
          role="button"
          aria-label="close"
        >
          <title id="preview-modal-70281312">close</title>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M10.5858 12L2.29291 3.70706L3.70712 2.29285L12 10.5857L20.2929 2.29285L21.7071 3.70706L13.4142 12L21.7071 20.2928L20.2929 21.7071L12 13.4142L3.70712 21.7071L2.29291 20.2928L10.5858 12Z"
            fill="currentColor"
          ></path>
        </svg>
      </button>
    </div>
    <div class="header-dialog">
      <h1 class="title">{{ clip.name }}</h1>
      <div class="wrapper-btn">
        <button
          class="btn-primary"
          mat-dialog-close
          routerLink="/clip/{{ clip.url }}"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="ltr-4z3qvp e1svuwfo1"
            data-name="Play"
            aria-hidden="true"
          >
            <path
              d="M5 2.69127C5 1.93067 5.81547 1.44851 6.48192 1.81506L23.4069 11.1238C24.0977 11.5037 24.0977 12.4963 23.4069 12.8762L6.48192 22.1849C5.81546 22.5515 5 22.0693 5 21.3087V2.69127Z"
              fill="currentColor"
            ></path>
          </svg>
          Lecture
        </button>
        <button class="btn-circle" *ngIf="data.userId"
        (click)="likeClip(this.data.clip)"
  
        >
        <svg
        *ngIf="!isLikedByUser(clip)"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        data-name="non favoris"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M11 11V2H13V11H22V13H13V22H11V13H2V11H11Z"
          fill="currentColor"
        ></path>
      </svg>
      <svg
      *ngIf="isLikedByUser(clip)"
  
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        data-name="favoris"
        aria-labelledby=":r4a:"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M21.2928 4.29285L22.7071 5.70706L8.70706 19.7071C8.51952 19.8946 8.26517 20 7.99995 20C7.73474 20 7.48038 19.8946 7.29285 19.7071L0.292847 12.7071L1.70706 11.2928L7.99995 17.5857L21.2928 4.29285Z"
          fill="currentColor"
        ></path>
      </svg>
        </button>
      </div>
    </div>
  </figure>
  
  <div class="content-dialog">
    <div class="left-content">
      <div class="clip-info">
        <p class="date">{{ clip.date | date : "longDate" }}</p>
        <p>{{ clip.description }}</p>
      </div>
      <div class="artiste-info">
        <p>
          Artiste :
          <span tabindex="0"
            (mouseenter)="
              setHoverState('artiste', clip.artiste.nameArtiste, true)
              "
            (mouseleave)="
              setHoverState('artiste', clip.artiste.nameArtiste, false)
              "

            >{{ clip.artiste.nameArtiste }}
            <app-tooltip
              [isVisible]="hoverStates['artiste-' + clip.artiste.nameArtiste]"
              [data]="clip.artiste"
            ></app-tooltip>
          </span>
        </p>
        <p *ngIf="clip.featuring && clip.featuring.length > 0">
          Featuring :
          <span tabindex="0"
            *ngFor="let feat of clip.featuring; let i = index"
            (mouseenter)="setHoverState('featuring', feat.nameArtiste, true)"
            (mouseleave)="setHoverState('featuring', feat.nameArtiste, false)"

            >{{ feat.nameArtiste
            }}<app-tooltip
              [isVisible]="hoverStates['featuring-' + feat.nameArtiste]"
              [data]="feat"
            ></app-tooltip
            ><span *ngIf="i < clip.featuring.length - 1">,&nbsp;</span>
          </span>
        </p>
      </div>
    </div>
    <div class="right-content">
      <div *ngIf="clip.produced && clip.produced.length > 0">
        <p>
          Prod by :
          <span
            *ngFor="let prod of clip.produced; let i = index"
            (mouseenter)="setHoverState('produced', prod.nameArtiste, true)"
            (mouseleave)="setHoverState('produced', prod.nameArtiste, false)"
            >{{ prod.nameArtiste
            }}<app-tooltip
              [isVisible]="hoverStates['produced-' + prod.nameArtiste]"
              [data]="prod"
            ></app-tooltip
            ><span *ngIf="i < clip.produced.length - 1">,&nbsp;</span>
          </span>
        </p>
      </div>
      <p *ngIf="clip.mix  && clip.mix.length > 0">
        Mix :
        <span
        *ngFor="let mixer of clip.mix; let i=index"
          (mouseenter)="setHoverState('mix', mixer.nameArtiste, true)"
          (mouseleave)="setHoverState('mix', mixer.nameArtiste, false)"
          >{{ mixer.nameArtiste }}
          <app-tooltip
            [isVisible]="hoverStates['mix-' + mixer.nameArtiste]"
            [data]="mixer"
          ></app-tooltip>
          <span *ngIf="i < clip.mix.length - 1">,&nbsp;</span>
        </span>
      </p>
      <p *ngIf="clip.mastering">
        Mastering :
        <span
          (mouseenter)="
            setHoverState('mastering', clip.mastering.nameArtiste, true)
          "
          (mouseleave)="
            setHoverState('mastering', clip.mastering.nameArtiste, false)
          "
          >{{ clip.mastering.nameArtiste }}
          <app-tooltip
            [isVisible]="hoverStates['mastering-' + clip.mastering.nameArtiste]"
            [data]="clip.mastering"
          ></app-tooltip>
        </span>
      </p>

      <div *ngIf="clip.production && clip.production.length > 0">
        <p>
          Production :
          <span
            *ngFor="let production of clip.production; let i = index"
            (mouseenter)="
              setHoverState('production', production.nameArtiste, true)
            "
            (mouseleave)="
              setHoverState('production', production.nameArtiste, false)
            "
            >{{ production.nameArtiste
            }}<app-tooltip
              [isVisible]="hoverStates['production-' + production.nameArtiste]"
              [data]="production"
            ></app-tooltip
            ><span *ngIf="i < clip.production.length - 1">,&nbsp;</span>
          </span>
        </p>
      </div>

      <p *ngIf="clip.real">
        Réalisation :
        <span
          (mouseenter)="setHoverState('real', clip.real.nameArtiste, true)"
          (mouseleave)="setHoverState('real', clip.real.nameArtiste, false)"
          >{{ clip.real.nameArtiste }}
          <app-tooltip
            [isVisible]="hoverStates['real-' + clip.real.nameArtiste]"
            [data]="clip.real"
          ></app-tooltip>
        </span>
      </p>
    </div>
  </div>
</div>
