swiper-container {
  swiper-slide {
    padding: 0 0.2vw;
    left: 60px;
    z-index: 10;
    transition: z-index 0.4s ease;
    position: relative;
    height: 100%;
    margin-top: 8px;
    transition: height 0s ease 0.3s;
    figure {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      z-index: 2;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        clip-path: polygon(0% 13%, 100% 13%, 100% 87.5%, 0% 87.5%);
        user-select: none;
        cursor: pointer;
        position: relative;
        transition: transform 0.4s ease;
      }
    }
    &:hover,
    &:focus-within {
      height: 100%;
      z-index: 11;
      img {
        transform: scale(1.22);
      }
      .footer-slide {
        display: block;
        top: -1vh;
        transform: scale(1.22);
        transition: top 0.2s ease 0.4s, transform 0.4s ease 0.4s;
      }
    }
    .footer-slide {
      background-color: #141414;
      width: 100%;
      padding: 10px;
      transform: scale(1);
      display: block;
      position: relative;
      top: -125px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      transition: transform 0.4s ease, top 0.4s ease 0s;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      .container-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .wrapper-btn {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
        }
      }
      .content {
        padding-top: 10px;
        cursor: default;
      }
    }
  }
}

.wrapper {
  height: 390px;
  &:hover,
  &:focus-within {
    swiper-container::part(button-next) {
      display: block !important;
    }
    swiper-container::part(button-prev) {
      display: block;
    }

    swiper-container::part(pagination) {
      display: block !important;
    }
  }
}
swiper-container::part(button-next) {
  display: none;
  background: hsla(0, 0%, 8%, 0.5);
  width: 15px;
  height: 9vw;
  padding: 0 20.3px;
  color: white;
  right: 0;
  top: 5.3vh;
}

swiper-container::part(button-prev) {
  background: hsla(0, 0%, 8%, 0.5);
  width: 15px;
  height: 9vw;
  padding: 0 20.3px;
  color: white;
  left: 0;
  top: 5.3vh;
  display: none;
}
swiper-container {
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 2px;
  --swiper-pagination-bullet-border-radius: 0;
  --swiper-pagination-top: 0;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 1px;
}

swiper-container::part(bullet) {
  background-color: gray;
}
swiper-container::part(bullet-active) {
  background-color: white;
}
swiper-container::part(pagination) {
  text-align: end;
  left: -60px !important;
  position: absolute;
  height: 25px;
  display: none;
}

swiper-container::part(container) {
  position: relative;
}
// button

.btn-circle {
  border-radius: 50%;
  border: none;
  color: black;
  background-color: white;
  padding: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transform: scale(0.88);
  &:hover,
  &:focus-within {
    background-color: rgb(207, 207, 207);
  }
}
.btn-circle-secondary {
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.7);
  color: white;
  background-color: transparent;
  padding: 0.2vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  transform: scale(0.88);
  &:hover,
  &:focus-within {
    border: 2px solid white;
  }
}
.swiper-slide-active {
  transition: transform 0.4s ease;
  &:hover {
    transform: translate(30px, 0);
  }
}
@media screen and (min-width: 2100px) {
  .wrapper {
    height: 14vw !important;
  }

  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    height: 8.7vw !important;
    top: 56px !important;
  }
  swiper-container::part(button-prev) {
    padding: 0 1vw !important;
  }
  swiper-container::part(button-next) {
    padding: 0 1.8vw!important;
  }
  swiper-slide {
    &:hover,
    &:focus-within {
      .footer-slide {
        top: -1vh !important;
      }
    }
    .footer-slide {
      top: -150px !important;
    }
  }
}
@media screen and (max-width: 2100px) {
  .wrapper {
    height: 270px !important;
  }
  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    height: 8.9vw !important;
    top: 56px !important;
  }
  swiper-container::part(button-prev) {
    padding: 0 1.1vw !important;
  }
  swiper-container::part(button-next) {
    padding: 0 1.3vw !important;
  }
}
@media screen and (max-width: 1900px) {
  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    height: 8.7vw !important;
    top: 57px !important;
  }
  swiper-container::part(button-prev) {
    padding: 0 1.2vw !important;
  }
  swiper-container::part(button-next) {
    padding: 0 1.1vw !important;
  }
}
@media screen and (max-width: 1800px) {
  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    height: 8.6vw !important;
    top: 54px !important;
  }
  swiper-container::part(button-prev) {
    padding: 0 1.3vw !important;
  }
  swiper-container::part(button-next) {
    padding: 0 1vw !important;
  }
  .wrapper {
    height: 250px !important;
  }
}
@media screen and (max-width: 1650px) {
  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    height: 8.7vw !important;
    top: 52px !important;
  }
  swiper-container::part(button-prev) {
    padding: 0 1.4vw !important;
  }
  swiper-container::part(button-next) {
    padding: 0 0.8vw !important;
  }

  .wrapper {
    height: 250px !important;
  }
}

@media screen and (min-width: 1480px) {
  .swiper-slide-active ~ swiper-slide:nth-of-type(6),
  .swiper-slide-active ~ swiper-slide:nth-of-type(12) {
    transition: transform 0.4s ease;
  }
  .swiper-slide-active ~ swiper-slide:nth-of-type(6),
  .swiper-slide-active ~ swiper-slide:nth-of-type(12) {
    &:hover,
    &:focus-within {
      transform: translate(-30px, 0);
    }
  }
}

@media screen and (max-width: 1480px) {
  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    height: 10.2vw !important;
  }
  swiper-container::part(button-prev) {
    padding: 0 1.6vw !important;
  }
  swiper-container::part(button-next) {
    padding: 0 1.9vw !important;
  }
  .swiper-slide-active ~ swiper-slide:nth-of-type(5),
  .swiper-slide-active ~ swiper-slide:nth-of-type(10) {
    &:hover,
    &:focus-within {
      transform: translate(-30px, 0);
    }
  }
  .swiper-slide-active ~ swiper-slide:nth-of-type(5),
  .swiper-slide-active ~ swiper-slide:nth-of-type(10) {
    transition: transform 0.4s ease;
  }
  .wrapper {
    height: 255px !important;
  }
}
@media screen and (max-width: 1300px) {
  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    height: 12.3vw !important;
    top: 54px !important;
  }
  swiper-container::part(button-prev) {
    padding: 0px 1.8vw !important;
  }
  swiper-container::part(button-next) {
    padding: 0px 2.6vw !important;
  }
  .swiper-slide-active ~ swiper-slide:nth-of-type(4),
  .swiper-slide-active ~ swiper-slide:nth-of-type(8) {
    &:hover,
    &:focus-within {
      transform: translate(-30px, 0);
    }
  }

  .swiper-slide-active ~ swiper-slide:nth-of-type(4),
  .swiper-slide-active ~ swiper-slide:nth-of-type(8) {
    transition: transform 0.4s ease;
  }
  .wrapper {
    height: 255px !important;
  }
}
@media screen and (max-width: 1150px) {
  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    height: 12.6vw !important;
    top: 50px !important;
  }
  swiper-container::part(button-prev) {
    padding: 0px 2.2vw !important;
  }
  swiper-container::part(button-next) {
    padding: 0px 2.2vw !important;
  }
  .wrapper {
    height: 225px !important;
  }
}
@media screen and (max-width: 1150px) {
  swiper-container::part(button-next) {
    padding: 0px 1.9vw !important;
  }
}
@media screen and (max-width: 940px) {
  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    height: 12.3vw !important;
    top: 48px !important;
  }
  swiper-container::part(button-prev) {
    padding: 0px 2.6vw !important;
  }
  swiper-container::part(button-next) {
    padding: 0px 1.5vw !important;
  }
  .wrapper {
    height: 200px !important;
  }
}
@media screen and (max-width: 840px) {
  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    height: 15.7vw !important;
    top: 52px !important;
  }
  swiper-container::part(button-prev) {
    padding: 0px 2.8vw !important;
  }
  swiper-container::part(button-next) {
    padding: 0px 2.6vw !important;
  }
  .swiper-slide-active ~ swiper-slide:nth-of-type(3),
  .swiper-slide-active ~ swiper-slide:nth-of-type(6) {
    &:hover,
    &:focus-within {
      transform: translate(-30px, 0);
    }
  }

  .swiper-slide-active ~ swiper-slide:nth-of-type(3),
  .swiper-slide-active ~ swiper-slide:nth-of-type(6) {
    transition: transform 0.4s ease;
  }
  .wrapper {
    height: 220px !important;
  }
}
@media screen and (max-width: 768px) {
  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    top: 48px !important;
    height: 16.1vw !important;
  }
  swiper-container::part(button-prev) {
    padding: 0px 3.4vw !important;
  }
  swiper-container::part(button-next) {
    padding: 0px 2.2vw !important;
  }
  .wrapper {
    height: 180px !important;
  }
}

@media screen and (max-width: 640px) {
  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    height: 22.1vw !important;
    top: 51px !important;
  }
  swiper-container::part(button-prev) {
    padding: 0px 4vw !important;
  }
  swiper-container::part(button-next) {
    padding: 0px 4vw !important;
  }
  .swiper-slide-active ~ swiper-slide:nth-of-type(2),
  .swiper-slide-active ~ swiper-slide:nth-of-type(4) {
    &:hover,
    &:focus-within {
      transform: translate(-30px, 0);
    }
  }

  .swiper-slide-active ~ swiper-slide:nth-of-type(2),
  .swiper-slide-active ~ swiper-slide:nth-of-type(4) {
    transition: transform 0.4s ease;
  }
  .wrapper {
    height: 170px !important;
  }
  .period-title {
    position: relative;
    top: 8px;
  }
}
@media screen and (max-width: 550px) {
  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    height: 22.5vw !important;
    top: 48px !important;
  }
  swiper-container::part(button-prev) {
    padding: 0px 4.7vw !important;
  }
  swiper-container::part(button-next) {
    padding: 0px 3.1vw !important;
  }
}
// @media screen and (max-width: 510px) {
//   swiper-container::part(button-next) {
//     height: 118px !important;
//     padding: 0px 2.6vw !important;
//     top: 39px !important;
//   }
// }
@media screen and (max-width: 470px) {
  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    height: 24.5vw !important;
    top: 47px !important;
  }
  swiper-container::part(button-prev) {
    padding: 0px 1.6vw !important;
  }
  swiper-container::part(button-next) {
    padding: 0px 1.3vw !important;
  }
  swiper-slide {
    left: 7vw !important;
    &:hover,
    &:focus-within {
      img {
        transform: scale(1.15) !important;
      }
    }
  }
  .swiper-slide-active ~ swiper-slide:nth-of-type(2),
  .swiper-slide-active ~ swiper-slide:nth-of-type(4) {
    &:hover,
    &:focus-within {
      transform: translate(-15px, 0);
    }
  }

  .swiper-slide-active ~ swiper-slide:nth-of-type(2),
  .swiper-slide-active ~ swiper-slide:nth-of-type(4) {
    transition: transform 0.4s ease;
  }

  .swiper-slide-active {
    &:hover {
      transform: translateX(15px) !important;
    }
  }
  .wrapper {
    height: 135px !important;
  }
}
@media screen and (max-width: 410px) {
  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    height: 24.2vw !important;
    top: 46px !important;
  }
  swiper-container::part(button-prev) {
    padding: 0px 1.2vw !important;
  }
  swiper-container::part(button-next) {
    padding: 0px 1.3vw !important;
  }
}
@media screen and (max-width: 360px) {
  .wrapper {
    height: 215px !important;
  }
  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    height: 48.2vw !important;
    top: 52px !important;
  }
  swiper-container::part(button-prev) {
    padding: 0px 1.8vw !important;
  }
  swiper-container::part(button-next) {
    padding: 0px 2.7vw !important;
  }

  .swiper-slide-active {
    &:hover {
      transform: translate(0) !important;
    }
  }
  swiper-slide {
    &:hover,
    &:focus-within {
      img {
        transform: scale(1) !important;
      }
    }
  }
}
